* {
    margin:0;
    padding:0;
}

#page-container{
    height: 100vh;
    display: flex;

    flex-direction: column;
}
header,footer{
    height: 80px;
}

#content-container{
    flex: 1;
    text-align: justify;
    margin: 100px 100px 100px 100px;
    padding: 100px 100px 100px 100px;
}

header {
    background-color: #030303;
    color: #ffffff;
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.footer {
    text-align: center;
    background-color: #3b3a3a;
    color: #8f9296;
}




